<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title><%= pageTitle %></title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<main>
			<section class="section-challenge-1" id="section-challenge-1">
				<div class="row">
					<div class="challenge">
						<div class="challenge__form">
							<form action="/challenge1" class="form" method="GET">
								<div class="u-margin-bottom-medium">
									<h2 class="heading-secondary">Smallest Difference</h2>
									<h2 class="heading-tertiary">Challenge 1</h2>
								</div>
								<div class="form__group">
									<input
										type="text"
										class="form__input"
										placeholder="Array a"
										id="a"
										name="a"
										value="<%= a %>"
										oninput="formatInput(this)"
										required
									/>
									<div id="error-message__a" class="error-message"></div>
									<label for="a" class="form__label">Array a</label>
								</div>
								<div class="form__group">
									<input
										type="text"
										class="form__input"
										placeholder="Array b"
										id="b"
										name="b"
										value="<%= b %>"
										oninput="formatInput(this)"
										required
									/>
									<div id="error-message__b" class="error-message"></div>
									<label for="b" class="form__label">Array b</label>
								</div>
								<div class="form__group">
									<button class="btn btn--green">Submit &rarr;</button>
								</div>
							</form>
						</div>
						<div class="challenge__ans u-center-text">
							<h2 class="heading-secondary">Answer</h2>
							<div class="challenge__ans--text u-center-text">
								<% if (answerChallenge1.length !== "") { %>
								<h2 class="heading-secondary"><%= answerChallenge1 %></h2>
								<% } else { %>
								<h2 class="heading-secondary">-</h2>
								<% } %>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section-challenge-2" id="section-challenge-2">
				<div class="row">
					<div class="challenge">
						<div class="challenge__form">
							<form action="/challenge2" class="form" method="GET">
								<div class="u-margin-bottom-medium">
									<h2 class="heading-secondary">Non constructible change</h2>
									<h2 class="heading-tertiary">Challenge 2</h2>
								</div>
								<div class="form__group">
									<input
										type="text"
										class="form__input"
										placeholder="Coins"
										id="coins"
										name="coins"
										value="<%= coins %>"
										oninput="formatInput(this)"
										required
									/>
									<div id="error-message__coins" class="error-message"></div>
									<label for="coins" class="form__label">Coins</label>
								</div>
								<div class="form__group">
									<button class="btn btn--green">Submit &rarr;</button>
								</div>
							</form>
						</div>
						<div class="challenge__ans u-center-text">
							<h2 class="heading-secondary">Answer</h2>
							<div class="challenge__ans--text u-center-text">
								<% if (answerChallenge2.length !== "") { %>
								<h2 class="heading-secondary"><%= answerChallenge2 %></h2>
								<% } else { %>
								<h2 class="heading-secondary">-</h2>
								<% } %>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
	<script>
		const sectionChallenge2 = document.getElementById("section-challenge-2");

		// Check if the element exists
		if ("<%= scrolling %>" === "challenge-2") {
			// Use the scrollIntoView method to scroll to the element
			sectionChallenge2.scrollIntoView();
		}
	</script>

	<script>
		function formatInput(input) {
			const regex = new RegExp("[^0-9,\n]");

			if (regex.test(input.value)) {
				showError(input.id);
			} else {
				hideError(input.id);
			}
			input.value = input.value.replace(/[^0-9,\n]/g, "");
		}

		function showError(id) {
			const errorMessage = document.getElementById(
				"error-message__".concat(id)
			);
			errorMessage.textContent =
				"Invalid input. Please enter comma-separated numbers.";
		}

		function hideError(id) {
			const errorMessage = document.getElementById(
				"error-message__".concat(id)
			);
			errorMessage.textContent = "";
		}
	</script>
</html>
